
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2014, 03:28:31 PM
    Author     : diegoeduardo
*/
body{
    margin: 0px !important;
}
header{
    width: 100%;
    margin: 0 auto;
    
}
#main-content{
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    font-size: 15px !important;
}
#h_contain{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
}
#h_user_info{
    width: 19.55%;
    height: 50px;
    float: right;
    cursor: pointer;
    border: 1px solid #000;
    background: white;
}
#img_user{
    width: 40px;
    padding: 5px;
    float: left;
}
#info{
    text-align: center;
    margin-left: 60px;
    color: black;
    font-weight: bold;
    margin-top: -50px;
}
#menu_header{
    width: 19.55%;
    border: 1px solid #000;
    float: right;
    z-index: 2;
    height: 150px;
    background-color: white;
    position: relative;
    top: 50px;
}
.buttonMenu{
    width: 40%;
    height: 50px;
    background-color:#3366cc;
    color: white;
    font-size: 30px;
    text-align: center;
    float: left;
    border: 1px solid #000;
}
.buttonMenu:hover{
    cursor: pointer;
    background-color: #7fa1ff;
}
.buttonUserInfo{
    width: 100%;
    height: 35px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}
.buttonUserInfo:hover{
    background-color: cyan;
    color: gray;
    cursor: pointer;
    
}

        
    .navbar-default {
        background-color: #002863 !important;
        border-color: #4f76ad !important;
    }
    .navbar-default .navbar-brand {
        color: #ecf0f1;
    }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #f0f0f0;
    }
    .navbar-default .navbar-text {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #f0f0f0;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #f0f0f0;
        background-color: #4f76ad;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #f0f0f0;
        background-color: #4f76ad;
    }
    .navbar-default .navbar-toggle {
        border-color: #4f76ad;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #4f76ad;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ecf0f1;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ecf0f1;
    }
    .navbar-default .navbar-link {
        color: #ecf0f1;
    }
    .navbar-default .navbar-link:hover {
        color: #f0f0f0;
    }
        
    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #ecf0f1;
        }
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #f0f0f0;
        }
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: #f0f0f0;
            background-color: #4f76ad;
        }
    }
    .liANav{
        height: 70px !important;
    }
        
    //Termina navbar

